/*----------------------------------------- contenedorJuegos ---------------------------------*/
/* <div> principal y compartido*/
#contenido {
    justify-content: center;

    /*Para que lo elementos se puedan acomodar uno al lado del otro con flex*/
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    max-width: 860px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 40px;
    padding: 10px 0;
}

#contenido .divsJuegos {
    width: clamp(150px, 22vw, 220px);
    height: auto;
    border-radius: 10px;
}

/*#contenido .divsJuegos a {
    width:80%;
    border:5px solid black;
}*/

.divsJuegos img {
    width:100%;
    height:auto;
    box-sizing: border-box;
    border-radius: 10px;
    border:10px solid black;
}

.divsJuegos img:hover{
    border:10px solid white;
}
